* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3A405A;
    --link-color: #F9DEC9;
    --secondary-color: #99B2DD;
    --font: 'Segoe UI';
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
}

h1,
h2,
h3,
.herotext,
.paragraph {
    color: var(--primary-color);
}

h1 {
    text-align: center;
}

h3 {
    text-align: right;
}

body {
    font-family: var(--font);
    background-color: white;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

td, th {
    border: 1px solid black;
    background-color: var(--link-color);
    color: var(--primary-color);
    padding: 0.5em;
}

header {
    background-color: var(--primary-color);
    justify-content: center;
    display: flex;
    padding: 25px;
}

.paneeli-taulukko {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display: grid;
    justify-items: center;
}

.paneeli-taulukko h1 {
    padding-bottom: 25px;
}

.button {
    width: 250px;
    height: 40px;
    align-items: center;
    justify-items: center;
    display: grid;
}

.paneeli-taulukko a {
    padding-top: 25px;
    text-decoration: none;
}

.button {
    background-color: white;
    color: var(--primary-color);
    border-radius: 3px;
    border: 1px solid var(--primary-color);
}

.button:hover {
    background-color: var(--primary-color);
    color: var(--link-color);
}

.piirustus-taulukko {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display: grid;
    justify-items: center;
}

.piirustus-taulukko .button {
    margin-top: 5px;
}

#kuva {
    border: 2px solid var(--primary-color);
    margin-bottom: 25px;
    border-radius: 3px;
}

link {
    color: var(--link-color);
}

link:hover {
    color: var(--link-color);
    text-decoration-color: var(--link-color);
}