* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3A405A;
    --link-color: #F9DEC9;
    --secondary-color: #99B2DD;
    --font: 'Segoe UI';
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
}

h1,
h2,
h3,
.herotext,
.paragraph {
    color: var(--primary-color);
}

h1 {
    text-align: center;
}

h3 {
    text-align: right;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

td, th {
    border: 1px solid black;
    background-color: var(--link-color);
    color: var(--primary-color);
    padding: 0.5em;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    background-color: var(--primary-color);
}

.logo {
    height: 35px;
}

.nav-links {
    position: absolute;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--link-color);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease-in;
    margin: 10px;
}

.nav-links a:hover {
    border-bottom: 1px solid var(--link-color);
    color: rgba(249, 222, 201, 0.8);
}

.lang a {
    color: var(--link-color);
    font-size: 14px;
    margin: 2px;
}

.lang a:hover {
    text-decoration: underline;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.valikko-taulukko,
.piirustus-taulukko,
.paneeli-taulukko {
    align-items: center;
    display: grid;
    justify-items: center;
    padding-top: 50px;
}

.paneeli-taulukko h1 {
    padding-bottom: 25px;
}

.button {
    width: 250px;
    height: 40px;
    align-items: center;
    justify-items: center;
    display: grid;
    background-color: white;
    color: var(--primary-color);
    border-radius: 3px;
    border: 1px solid var(--primary-color);
    font-size: 14px;
}

.button:hover {
    background-color: var(--primary-color);
    color: var(--link-color);
}

.paneeli-taulukko a {
    padding-top: 25px;
}

.valikko-taulukko a {
    margin-top: 5px;
}

.piirustus-taulukko .button {
    margin-top: 5px;
}

#kuva {
    border: 1px solid var(--primary-color);
    margin-bottom: 25px;
    border-radius: 3px;
    width: 500px;
    height: 500px;
}

link {
    color: var(--link-color);
}

link:hover {
    color: var(--link-color);
    text-decoration-color: var(--link-color);
}

::selection {
    color: var(--primary-color);
    background: var(--link-color);
}

.kulutus {
    position: relative;
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    border-top-style: none;
    border-right-style: var(--primary-color);
    max-width: 300px;
    max-height: 120px;
    margin-top: 50px;
}

#prosent {
    position: absolute;
    top: 20px;
    left: -50px;
    font-size: 12px;
}

#prosent2 {
    position: absolute;
    top: 105px;
    left: -40px;
    font-size: 12px;
}
#paiv1{
    position: absolute;
    top: 120px;
    left: 90px;
    font-size: 12px;
}
#paiv2{
    position: absolute;
    top: 120px;
    left: 190px;
    font-size: 12px;
}

@media screen and (max-width: 900px) {
    .logo {
        display: none;
    }

    .nav-links {
        position: relative;
    }
}

@media screen and (max-width: 550px) {
    #kuva {
        width: 350px;
        height: 350px;
    }
}
