* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #3A405A;
    --link-color: #F9DEC9;
    --secondary-color: #99B2DD;
    --font: "Segoe UI";
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
.herotext,
.paragraph {
    color: var(--primary-color);
}

h3 {
    text-align: right;
}

body {
    background-color: white;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

td,th {
    border: 1px solid var(--primary-color);
    padding: 0.5em;
}

header {
    background-color: var(--primary-color);
    justify-content: center;
    display: flex;
    padding: 25px;
}

button {
    padding: 10px;
    background-color: white;
    color: var(--primary-color);
    border-radius: 0.5em;
    border-color: var(--primary-color);
}

button:hover {
    background-color: var(--primary-color);
    color: var(--link-color);
}

link {
    color: var(--link-color);
}